<h1>Welcome to Rails Blog</h1>
<% @posts.each do |post| %>
<div class='card mb-3'>
    <div class='card body'>
    <h4><%= post.Title %></h4>
    <div class= "d-flex justify-content-between">
    <span class="badge badge-light"><%= link_to post.category.name, category_search_post_path(post.category.slug) %></span>
    </div>
        <div><%= post.Body.to_plain_text[0..200] %>
        </div>
    </div>
    <div class='card footer'>
    <h6>Published: <%= time_ago_in_words(post.created_at) %> ago.</h6>
    <h6>Author: <%= post.user.email %></h6>
    <div class= "d-flex justify-content-start">
    <% post.tags.each do |tag|%>
    <span class="badge badge-warning mr-2"><%= link_to tag.name, tag_search_path(tag.name) %></span>
    <% end %>
    </div>
    <%= link_to "read more", post_read_path(post) %>
    </div>
</div>
<% end %>
