<!DOCTYPE html>
<html>
  <head>
    <title>Blog1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class= "container">
      <%= render partial:"layouts/topmenu"%>
        <div class="row">
          <div class= "col-md-9">
          <p class="notice"><%= notice %></p>
            <%= yield %>
          </div>
          <div class="col-md-3">
          <h6>CATEGORIES</h6>
          </div>
        </div>
    </div>
  </body>
</html>
